<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <div class="statement">
  </div>

<form class="form" action="/users" method="post">
      Your Name: <input id="name" type='text' name='name'><br/>
      Age:<input id="comment" type='text' name="age"><br/>
      <button class="btn">submit</button>
</form>
  </body>
</html>